<section id="about">
  <div class="container">
    <h2>Spotify App - ng 2</h2>
    <h4>Author: Jamal Johnson</h4>
    <p>This is an Angular 2 app that utilizes Spotify's api to search for Artists and displays their albums and tracklisting.
      While building this app I have learned a lot about data binding, components, services, routing, dependency injection, and much more.  
      I hope that you enjoy this app and learn from what I have built.  Please feel free to contact me at <a href="http://maltardesigns.com">maltardesigns.com</a></p> 
  </div>
</section>